body, h2{
    color: whitesmoke;
}

#goToForm{
    color: black;
}

a {
    color: yellow
}
a:hover {
    color: yellow;
    text-decoration: underline;
}

input, select {
    margin-left: 5px;
}

.container {
    margin-bottom: 10px;
}

#search-name{
    width: 80%;
}
#search-hair, #search-skin, #search-eye{
    width: 50%;
}

#div-name, #div-hair, #div-skin, #div-eye{
    width: 200px;
}

